@page "/"

<PageTitle>Chat</PageTitle>

<AuthorizeView>
    <Authorized>
        <ChatApp></ChatApp>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to enter the chat!</p>
    </NotAuthorized>
</AuthorizeView>